*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter:brightness(0.7);
}

.Nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: #000;
    position: relative;
    z-index: 10;
}

.Nav-bar-hov{
    background-color: #D9D9D9;
    background-blend-mode: darken;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
    position: static;
    filter: none;
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.links{
    display: flex;
    column-gap: 20px;
}

.link {
    font-weight: 500; 
}

/* Infinite Carousel Animation for the Advertisments */
.carousel {
    margin: 100px auto;
    width: 90%;
    border: 5px;
    display: flex;
    overflow-x: auto;
    padding-top: 10em;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s linear infinite;
    padding-right: 1em;
    min-width: 100%; /* newly added */
    flex-grow: 1;
}

/*.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
*/

.card {
    flex: 0 0 150px;      /* card width */
    height: 150px;        /* card height */
    padding: 1em;           /* remove padding */
    border-radius: 0.2em;
    overflow: hidden;     /* hides any overflow if image is bigger */
    background: none;     /* remove blue background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    max-width: 100%;      /* image will never exceed card width */
    max-height: 100%;     /* image will never exceed card height */
    object-fit: contain;  /* maintain aspect ratio, fit inside card */
    display: block;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
