*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter:brightness(0.7);
}

.Nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: #000;
    position: relative;
    z-index: 10;
}

.Nav-bar-hov{
    background-color: #D9D9D9;
    background-blend-mode: darken;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
    position: static;
    filter: none;
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.links{
    display: flex;
    column-gap: 20px;
}

.link{
    font-weight: 500; 
}
