*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter:brightness(0.7);
}

/* NAVIGATION SYSTEM!!!! */
.Nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: #000;
    position: relative;
    z-index: 10;
}

.Nav-bar-hov{
    background-color: #D9D9D9;
    background-blend-mode: darken;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
    position: static;
    filter: none;
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.links{
    display: flex;
    column-gap: 20px;
}

.link {
    font-weight: 500; 
}

/* MENU PART!!!! */
.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
    padding-top: 50px;
}

.menu-parts {
    background: #ffffffcc;
    padding: 12px 20px;
    /* border-radius: 10px; --> to make the edges round not pointy! */
    border: 2px solid #ffffff80;
    backdrop-filter: blur(6px);

    width: 300px;
    text-align: center;
}

.menu-parts:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
    background: #fff;
}

.category{
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

/* .menu-layout {
    display: flex;
    gap: 40px;
    padding: 40px;
} */

.coffee-drinks {
    width: 400px;
}

.drinks {
    margin-top: 75px;
    margin-left: 100px;
    list-style: none;
    padding: 0;
}

.drink-type {
    margin-bottom: 150px;
    font-weight: 700;
}

.drink {
    font-size: 1.5rem;
    cursor: pointer;
}

/* .menu-display {
    flex: 1;
    background: #ffffffcc;
    border-radius: 15px;
    padding: 40px;
    border: 2px solid #ffffff80;
    backdrop-filter: blur(6px);
} */